/*CSS Reset*/
/* Zeroes all margins and paddings of our elements. 
Because by default, elements are being added */
/*box-sizing :border-box; to accurately measure our elements
, that are being added*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#box1 {
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid black;
	background-color: orange;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
}

.sample {
	height: 150px;
	width: 150px;
	padding: 2px;
	border: 2px solid black;
	background-color: yellow;

}

#box2 {
	height: 150px;
	width: 150px;
	padding: 2px;
	border: 2px solid black;
	background-color: yellow;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
}

}