*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#intro {
	padding-left:  10%;
	padding-right: 10%;
	/*% was used to make more the page responsive. Our padding in left 
	and right are dependent on the width of the parent element */
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}
/*nav bar design*/
nav {
	padding: 0.8rem;
	/*rem-root element default font size (16)
	ex--> 16*0.8* 12.8px*
	you can specify which side you will add a padding
	ex--> padding-left: 0.8rem*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

nav > ul {
	list-style-type: none;
}

nav .nav, nav .navlogo {
	margin: 0.5rem;
	display: inline;
	/*display:  inline allows us to change a 
	block element into an inline*/
}

/*intro section*/
#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color:  white;
	font-weight: bold;
	/*for thickness of text*/
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*prefooter*/
#pre-footer {
	background-color: #002540;
	color:  white;
}
#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
#pre-footer > div > * {
	margin-top: 0.3;
	margin-bottom: 0.3;
}

