
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Oswald', sans-serif, monospace;
}

/*nav bar intro*/
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid lightpink;
	font-size: 2rem;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}
.nav-logo{
	height: %;
	width: 100%;
}
nav ul {
	list-style-type: none;
}

/*intro section*/

#intro > h2 , #intro2 > h2, #info > h2 {
	background-color: #950101;
	color: white;
	text-align: center;
}

#intro , #intro2 {
	padding-left: 5%;
	padding-right: 5%;
	/* % was used to make page more responsive. So our pading in left and right are now dependent on the width of the parent element */
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: justify;
}

button {
	/*font-weight allows to determine the thickness of text*/
	font-weight: bold;
	background-color: #FDEFF4;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	margin-bottom: 2rem;
	margin-top: 2rem;

}

/*end of intro*/
/*info section*/
#info {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;

}

.header {
	margin-bottom: 1rem;
	margin-top: 1rem;

}
.help {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 1rem;
	border: 0.5px dashed lightpink;

}

.help, h2, p {
	margin-top: 1.5rem;

}

.images {
	height: 100%;
	width: 100%;

}

#pre-footer {
	background-color: #3D0000;
	color: white;

}

#pre-footer > div {
	display: inline-block;
	width: 15%;
	vertical-align: top;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	text-align: center;
}

footer {
	padding: 0.7rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	text-align: left;

